{% extends "empty.jinja2" %}

{% block empty_content %}
<div style="height: 100vh; width: 100vw">
    <div class="d-flex flex-column h-100 justify-content-center align-items-center">
        <div class="text-center">
            <h1 style="font-size: 3rem;">
                <span class="gradient-underline">
                    Pagina niet gevonden
                </span>
            </h1>
            <p class="pt-5" style="font-size: 2rem;"><a href="/">Naar start</a></p>
        </div>
    </div>
</div>
{% endblock %}
