{% extends "base.html.jinja2" %}

{% block base_content %}
<div class="row g-0 mx-0">
    <div class="col">
        <div class="card border-0 max-height-95vh">
            <img id="index-card-img" src="/assets/{{ main_image_id }}-index-main-image.jpg"
                class="card-img rounded-0" />
            <div class="card-img-overlay rounded-0">
                <div class="container h-100">
                    <div class="d-flex flex-column h-100 justify-content-center">
                        <div>
                            <h1 id="index-main-title" class="fw-bold text-white">
                                <span class="gradient-underline">
                                    Uw specialist
                                </span>
                            </h1>
                            <h2 id="index-sub-title" class="text-white">aircoheaters, warmtepompen en ventilatie
                            </h2>
                            <p class="index-contact pt-3 pt-md-4 pt-lg-5">
                                <i class="bi bi-telephone text-white"></i>
                                <a href="tel:{{ base_common.phone_number }}">{{ base_common.phone_number }}</a>
                            </p>
                            <p class="index-contact">
                                <i class="bi bi-envelope text-white"></i>
                                <a href="mailto:{{ base_common.email }}">{{ base_common.email }}</a>
                            </p>
                            {% if let Some(service_area) = service_area %}
                            <p class="index-contact">
                                <i class="bi bi-geo-alt text-white"></i>
                                {{ service_area }}
                            </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Realisaties-->
<section id="portfolio" class="index-portfolio-padding">
    <div class="container px-4 px-lg-5">
        <div class="text-center">
            <h2 class="mb-5 fs-3rem" id="realisaties">Realisaties</h2>
        </div>
        <div class="row g-3 justify-content-center">
            {% for realisation in realisations %}
            <div class="col-lg-6">
                <a class="portfolio-item" href="/realisaties/{{ realisation.slug }}">
                    <div class="caption">
                        <div class="caption-content">
                            <div class="h2">{{ realisation.name }}</div>
                            {% if realisation.slogan.is_some() %}
                            <p class="mb-0">{{ realisation.slogan.as_ref().unwrap() }}</p>
                            {% endif %}
                        </div>
                    </div>
                    <img class="img-fluid" src="/assets/{{ realisation.main_image }}-index-realisatie.jpg"
                        alt="{{ realisation.name }}" />
                </a>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col">
                <p class="fs-5 text-center pt-5">
                    Of neem gerust een kijkje op
                    <span class="no-wrap">
                        <i class="bi-facebook"></i>
                        <a href="{{ base_common.facebook_link }}" rel="noopener">
                            {{- base_common.facebook_name -}}
                        </a>
                    </span>
                    en
                    <span class="no-wrap">
                        <i class="bi-instagram"></i>
                        <a href="https://instagram.com/{{ base_common.instagram_name }}" rel="noopener">
                            {{- base_common.instagram_name -}}
                        </a>
                    </span>
                    voor onze nieuwste updates.
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
