{% extends "base.jinja2" %}

{% block base_content %}
<div class="container pt-3 pb-5">
    <div class="row">
        <div class="col-12 pt-3">
            <h1>Over ons</h1>
        </div>
    </div>
</div>
{% endblock %}
