{% extends "base.html.jinja2" %}

{% block base_content %}
<div class="container pt-3 pb-5">
    <div class="row">
        <div class="col-12 pt-3">
            <h1>Onze diensten</h1>

            <h2 class="pt-4">Plaatsing</h2>
            <p>Voor het plaatsen van uw nieuwe installaties kunnen we u zeker en vast een gepaste oplossing bieden.</p>
            <p>
                Tijdens een vrijblijvend plaatsbezoek worden alle mogelijkheden bekeken om uw wensen zo goed mogelijk te
                realiseren. Hierna kunnen we u een op maat gemaakte offerte bezorgen. Bij eventuele extra vragen of
                opmerkingen kunt u altijd op ons rekenen. Indien alles naar wens is wordt er een plaatsingsdatum
                afgesproken en kunnen we over gaan tot installatie, dit gebeurt uiteraard met de grootste zorg. Na het
                plaatsen wordt uw installatie optimaal afgesteld en krijgt u een duidelijke uitleg over de werking ervan
                alsook tips and tricks om een optimale comfort te bekomen.
            </p>

            <h2 class="pt-4">Onderhoud</h2>
            <p>
                Om een optimale werking en hygi&euml;ne te garanderen van uw installatie is een tijdig onderhoud
                aangewezen. Buiten het grondig reinigen en desinfecteren met professionele producten wordt uw
                installatie ook nagekeken op meerdere punten. Hierdoor kan uw installatie een zo lang mogelijke
                levensduur bekomen alsook de best mogelijke werking behalen.
            </p>
            <p class="text-center">
                <img class="full-width max-width-800" src="/img/our-services/onderhoud.jpg" />
            </p>

            <h2 class="pt-4">Herstellingen</h2>
            <p>Eigen hersteldienst met zaken van kennis om uw installatie op een correcte manier terug te laten
                functioneren.</p>
        </div>
        <div class="col-6 d-lg-none">
            <p>
                <img class="full-width max-width-400" src="/img/our-services/herstellingen-1.jpg" />
            </p>
        </div>
        <div class="col-6 d-lg-none">
            <p>
                <img class="full-width max-width-400" src="/img/our-services/herstellingen-2.jpg" />
            </p>
        </div>
        <div class="col-12 d-none d-lg-block">
            <p>
                <img class="full-width max-width-400" class="pe-1" src="/img/our-services/herstellingen-1.jpg" />
                <img class="full-width max-width-400" class="ps-1" src="/img/our-services/herstellingen-2.jpg" />
            </p>
        </div>
    </div>
</div>
{% endblock %}
