{% extends "base.html.jinja2" %}

{% block base_content %}
<div class="container pt-3 pb-5">
    <div class="row">
        <div class="col-12 pt-3">
            <h1>Over ons</h1>
            <p>Hallo!</p>
            <p>Ik ben Nick Willemsens, het gezicht en oprichter achter Willemsens Technieken.</p>
            <p>
                Met meer dan 13 jaar ervaring in het herstellen, onderhouden en plaatsen van uw installatie
                bieden wij u een uitgebreid assortiment aan.
            </p>
            <p>Willen wij ook graag een aanvulling zijn op uw vragen.</p>
            <p>
                Dus &hellip; twijfel niet en neem contact met ons op via
                <a href="tel:{{ base_common.phone_number }}" class="no-wrap">{{ base_common.phone_number }}</a>
                of
                <a href="mailto:{{ base_common.email }}" class="no-wrap">{{ base_common.email }}</a>.
            </p>
            <p>
                Je kunt onze nieuwste updates ook steeds volgen op
                <span class="no-wrap">
                    <i class="bi-facebook"></i>
                    <a href="{{ base_common.facebook_link }}" rel="noopener">
                        {{- base_common.facebook_name -}}
                    </a>
                </span>
                en
                <span class="no-wrap">
                    <i class="bi-instagram"></i>
                    <a href="https://instagram.com/{{ base_common.instagram_name }}" rel="noopener">
                        {{- base_common.instagram_name -}}
                    </a>
                </span>.
            </p>
            <p class="text-center">
                <img class="full-width max-width-800" src="/img/about-us/nick.jpg" />
            </p>
        </div>
    </div>
</div>
{% endblock %}
