{% extends "base.html.jinja2" %}

{% block base_content %}
<div class="container pt-3 pb-5">
    <div class="row">
        <div class="col-12 pt-3 pb-3">
            <a class="btn btn-text" href="/#realisaties" role="button">
                <i class="bi bi-arrow-left"></i>
                TERUG NAAR START
            </a>
        </div>
        <div class="col-12 pt-3">
            <h1>{{ realisation.name }}</h1>
        </div>
        {% if realisation.slogan.is_some() %}
        <div class="col-12">{{ realisation.slogan.as_ref().unwrap() }}</div>
        {% endif %}
        {% if ! realisation.secondary_images.is_empty() %}
        <div class="col-12 pt-4">
            <p class="fw-light">
                Klik op de voorbeelden om de volledige foto te zien.
            </p>
        </div>
        {% endif %}
    </div>
    <div class="row g-4 gallery">
        {% if ! realisation.secondary_images.is_empty() %}
        {% for image_id in realisation.secondary_images %}
        <div class="col-6 col-sm-4 col-md-3 col-xl-2 text-center">
            <a href="/assets/{{ image_id }}-realisatie-full.jpg">
                <img src="/assets/{{ image_id }}-realisatie-thumbnail.jpg" class="img-fluid">
            </a>
        </div>
        {% endfor %}
        {% else %}
        <p class="pt-5">Er zijn helaas nog geen foto&apos;s in deze categorie.</p>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block base_body_end %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simplelightbox/2.14.3/simple-lightbox.min.css"
    integrity="sha512-moe+oG7IXFdP2RtdYj/6jR71QHaAAtMJ6duaxkoVOspUyzFIFSozX1+dQmpf1DHD7NzkyHzEPBB1Zs3joDt4QQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="/lightbox.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/simplelightbox/2.14.3/simple-lightbox.min.js"
    integrity="sha512-Vtot07oogPy4e0JzAfUgyvia0fATgR1PWWNG89EeQgPXmaIhjGQIFijUVxRn0TScCMCH57Y7eJSixmYYDJkJ1A=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/lightbox.js"></script>
{% endblock %}
